*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-plano-01: #1A374D;
    --color-plano-02: #406882;
    --color-plano-03: #6998AB; 
    --color-plano-04: #B1D0E0;
}

.header-transparent {
    max-width: 120em;
    margin: 0 auto;
    padding: 0.5em;
    display: flex;
    align-content: space-around;
    align-items: flex-end;
    gap: 30em;

    background-color: var(--color-plano-03);
    text-decoration: none;
    color: var(--color-plano-04);

 
}


nav{
   
    max-width: 30em;
    float: right;
    margin: 0 0 0 2em;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    margin: 0.5em;
    float: right;
}

li a {
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    color: var(--color-plano-04);

    transition: 0,5s;
}

li a:hover {
    color: var(--color-plano-02);
}

header h1{
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}

.hero-inicial{
    
    max-width: 120em;
    background: linear-gradient(rgba(0, 0, 0, 0.226), var(--color-plano-03)), url(imagens/hallway-ge73164874_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;

}

.hero-conteudo{
    margin: 0 auto;
    padding: 20em 0em 20em 0em;
}

.hero-text{
    max-width: 30em;
    margin: 0 auto;
    padding: 1em;

    text-align: center;
    color: var(--color-plano-04);
    
}

.hero-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 8em;
    text-shadow: 5px 4px 0px rgba(20, 20, 20, 0.514);

}

.about-us{
    
    max-width: 120em;
    background-color: var(--color-plano-03);
    margin: 0 auto;
    display: flex;
    align-content: space-between;
    gap: 2.5em;

}

.about-us-text {
    max-width: 30em;
    margin: 2em 1.5em 1em 0;
    color: var(--color-plano-04);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

.about-us-text h2 {
    font-size: 3em;
    text-align: center;
}

.about-us-text p {
    font-size: 1.3em;
    text-align: left;

}

.about-us-img{
    max-width: 50em;
    margin: 2em;
    
}


.about-us-img img {
    max-width: 50em;
    border-radius: 2rem;
    box-shadow: -14px -6px 5px 2px rgba(0, 0, 0, 0.233);

}

.main-service {
    max-width: 120em;
    background: linear-gradient(var(--color-plano-03), rgba(0, 0, 0, 0.226)), url(imagens/medical-equipment-g12d251457_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 20em 0 20em 0;
}

.main-service-table {
    max-width: 80em;
    margin: 0 auto;
    padding: 2em;

    background-color: #40688281;
    border-radius: 0.3em;
    box-shadow: 0px 0px 117px 7px rgba(0,0,0,0.54);

}

.main-service-table h1 {
    color: var(--color-plano-04);
    text-align: center;
    font-size: 4em;
    letter-spacing: 0.1em;

    
}

.main-service-table-conteudo {
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    display: flex;
    gap: 2.5em;

}

.main-service-table-column {
    
    max-width: 50em;
    margin: 0 auto;
    display: block;
    padding: 2em;

    font-family: 'Montserrat', sans-serif;
}

.main-service-table-column h2 {
    color: var(--color-plano-04);
    font-size: 4em;
    letter-spacing: 0.1em;
}

.main-service-table-column-conteudo {
    max-width: 40em;
    display: block;
    padding: 1em 3em 1em 3em;
    margin: 1em auto;


    background-color: #4068823f;
    box-shadow: 0px 0px 25px -14px rgba(0,0,0,0.54);
    border-radius: 0.2em;
    

}

.main-service-table-column-conteudo h4{
    font-size: 1em;
    color: var(--color-plano-04);
}

.main-service-table-column-conteudo span {
    color: var(--color-plano-04);
    font-size: 1em;
    letter-spacing: 0.2em;
}

.main-service-table-button {
    margin: 1em auto;
    max-width: 10em;
}

.main-service-table-button button {
    max-width: 20em;
    padding: 1.5em;
    border-radius: 3em;
    background-color: var(--color-plano-01);
    border: none;

 
    transition: 0.5s;
    
}

.main-service-table-button button:hover{
    box-shadow: 0px 0px 25px -14px rgba(0,0,0,0.54);
    opacity: 0.5;
    cursor: pointer;
}

.main-service-table-button a {
    text-align: center;
    color: var(--color-plano-04);
    letter-spacing: 0.1em;
    text-decoration: none;
    font-size: 1.3em;
}

.section-parceiros {

    max-width: 120em;
    background: linear-gradient(rgba(0, 0, 0, 0.226), var(--color-plano-03)), url(imagens/blood-pressure-gf924214ba_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 10em 0 10em 0;

}

.section-parceiros h1 {
    text-align: center;
    color: var(--color-plano-04);
    font-size: 4em;
    margin: 2em;
}

.section-parceiros-carrosel {
    margin: 0 auto;
    max-width: 90em;
}

.section-parceiros-carrosel img {
    max-width: 20em;
}
.section-parceiros-carrosel-logo-eject {
    width: 20em;
}

.section-form {
    max-width: 120em;
    background: linear-gradient(var(--color-plano-03), rgba(0, 0, 0, 0.226)), url(imagens/laboratory-g1462bb2dc_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 20em 0 20em 0;

    font-family: 'Montserrat', sans-serif;
}

.section-form-background {
    max-width: 80em;
    margin: 0 auto;
    padding: 2em;

    background-color: #40688281;
    border-radius: 0.3em;
    box-shadow: 0px 0px 117px 7px rgba(0,0,0,0.54);

}

.section-form-background h1 {
    color: var(--color-plano-04);
    text-align: center;
    font-size: 4em;
    letter-spacing: 0.2em;
}

.section-form-background-form {
    max-width: 60em;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}



.form-imput {
    max-width: 30em;
    margin: 0 0 0 15em;
    padding: 2em;
    display: flex;
    justify-content: space-around;

}

.form-imput label {
    flex: 1;
    text-align: left;
    color: var(--color-plano-04);
    font-size: 1.5em;
}

.form-imput input {

    flex: 1 1 11em;
    border-radius: 3em;
    margin: 0 2em;
    height: 2.5em;
    background-color: #406882e0;
    border: none;
    box-shadow: 0px 0px 25px -14px rgba(0,0,0,0.54);

}


footer {
    background-color: var(--color-plano-01);
    text-align: center;
    color: var(--color-plano-04);
    padding: 2em;

    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.swiper-slide{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 900px) {
    .nav{
        flex-wrap: wrap;
    }
    .header-transparent {
        gap: 20em;
    }
    .about-us {
        flex-wrap: wrap;
    }
    .about-us-text {
        margin: 0 auto;
    }
    .about-us-img {
        margin: 0 auto;
    }
    .about-us-img img {
        max-width: 30em;
    }
    .main-service-table-conteudo {
        display: block;
    }

    .form-imput {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .header-transparent {
        gap: 2em;
    }
    
    .about-us-text {
        margin: 1em;
    }
    .about-us-img {
        margin: 0 auto;
    }
    .about-us-img img {
        max-width: 25em;
    }
}